my-*
doit
doit.1
addresses
series
e
f
g
trueblocks-dalleserver
.env

output
ai/*
!ai/Rules.md
!ai/Invoker.md

.DS_Store

x
shit*
junk*

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
