name: Deploy to Production

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy to server
              uses: appleboy/ssh-action@master
              with:
                  host: 167.71.187.196
                  username: jrush
                  key: ${{ secrets.DEPLOY_SSH_KEY }}
                  script: |
                      cd ~/Development/trueblocks-dalleserver
                      git fetch origin ${{ github.ref_name }}
                      git checkout ${{ github.ref_name }}
                      git pull origin ${{ github.ref_name }}
                      make build
                      make build-book
                      sudo systemctl restart dalleserver
                      sudo systemctl status dalleserver
